################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HelloWebApi
/HelloWebApi/obj
/HelloWebApi/bin
/WebApiApp/obj
/WebApiApp/bin
